<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.trc.upgrade">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application>
        <activity
            android:name="com.trc.upgrade.UpgradeDialogActivity"
            android:launchMode="singleInstance"
            android:theme="@style/UpgradeTransparent" />
        <provider
            android:name="com.trc.upgrade.ApkFileProvider"
            android:authorities="${applicationId}.apk-provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/apk" />
        </provider>
    </application>

</manifest>